
# local files
.local/

# vs code
.vscode/
*.code-workspace

# objects
source/quakegeneric

# game data
source/id1/

# object files
*.o
*.exe
*.a
*.obj
*.rsp
*.err
*.d
*.map
*.bin
*.img
QuakeOS
*.log

# vim
*.swp

# cscope
cscope.in.out
cscope.out
cscope.po.out

# dosbox-x
dosbox-x.*

# cmake
cmake-build*

# meson
meson-build*
